vue/.DS_Store
vue/Smart4Finances/.env
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
laravel/Smart4Finances/app/Http/Controllers/api/AuthController.php
